<div 
     style="padding: 20px; 
            color: black;
            margin: 0;
            font-size: 250%;
            text-align: center;
            display: fill;
            border-radius: 5px;
            background-color: #0daae3;
            overflow: hidden;
            font-weight: 700;
            border: 5px solid black;"
     >
            è¯¥ç‰ˆæœ¬ç”¨äºæ•°æ®é›†çš„è½¬æ¢åŠæ–¹æ¡ˆè®¾è®¡
</div>

## å¯¼åŒ…

In [1]:
import os
import json

import numpy as np 
import pandas as pd
from tqdm import tqdm
from glob import glob

In [2]:
path_project = r'/workspace/datasets/otto'

# path dir
path_row_data = os.path.join(path_project, 'row_data')
path_new_data = os.path.join(path_project, 'new_data')
path_results  = os.path.join(path_project, 'results')

# path row_data
path_train = os.path.join(path_row_data, 'train.jsonl')
path_test  = os.path.join(path_row_data, 'test.jsonl')
path_sample_submission = os.path.join(path_row_data, 'sample_submission.csv')

# parquet æ ¼å¼çš„æ–‡ä»¶å­˜æ”¾è·¯å¾„
path_parquet = os.path.join(path_new_data, 'parquet')
path_parquet_train = os.path.join(path_parquet, 'train')
path_parquet_test = os.path.join(path_parquet, 'test')

## æ•°æ®é›†è½¬æ¢

### æ•°æ®é‡æŸ¥çœ‹

In [3]:
for path_tmp in [path_train, path_test]:
    count = 0
    with open(path_tmp, 'r') as f:
        for line in f:
            count += 1

    print("{}æ–‡ä»¶è¡Œæ•°ä¸ºï¼š{}".format(path_tmp.split('/')[-1], count))

train.jsonlæ–‡ä»¶è¡Œæ•°ä¸ºï¼š12899779
test.jsonlæ–‡ä»¶è¡Œæ•°ä¸ºï¼š1671803

**è®­ç»ƒé›†æ•°æ®é‡è¿‡å¤§ï¼Œè€ƒè™‘å¯¹å…¶è¿›è¡Œåˆ†å—**

In [4]:
chunksize = 100_000

num_chunks = int(np.ceil(12899779 / chunksize))
print('è®­ç»ƒé›†åˆ†å—æ•°ä¸ºï¼š{}'.format(num_chunks))

è®­ç»ƒé›†åˆ†å—æ•°ä¸ºï¼š129

### è¯»å–éƒ¨åˆ†æ•°æ®

In [5]:
n = 2

df_train = pd.DataFrame()
chunks = pd.read_json(path_train, lines=True, chunksize=chunksize)

for i, chunk in enumerate(chunks):
    if i < n:
        df_train = pd.concat([df_train, chunk])
    else:
        break

df_train = df_train.set_index("session", drop=True).sort_index()

In [6]:
df_train.head()

                                                    events
session
0        [{'aid': 1517085, 'ts': 1659304800025, 'type':...
1        [{'aid': 424964, 'ts': 1659304800025, 'type': ...
2        [{'aid': 763743, 'ts': 1659304800038, 'type': ...
3        [{'aid': 1425967, 'ts': 1659304800095, 'type':...
4        [{'aid': 613619, 'ts': 1659304800119, 'type': ...

In [7]:
df_train.iloc[5,0]

[{'aid': 1098089, 'ts': 1659304800133, 'type': 'clicks'},
 {'aid': 1354785, 'ts': 1659304827838, 'type': 'clicks'},
 {'aid': 342507, 'ts': 1659304856326, 'type': 'clicks'},
 {'aid': 1120175, 'ts': 1659304862271, 'type': 'clicks'},
 {'aid': 1808870, 'ts': 1659304863925, 'type': 'clicks'},
 {'aid': 1402845, 'ts': 1659304865459, 'type': 'clicks'},
 {'aid': 829383, 'ts': 1659304867287, 'type': 'clicks'},
 {'aid': 743867, 'ts': 1659305242050, 'type': 'clicks'},
 {'aid': 747242, 'ts': 1659365531565, 'type': 'clicks'},
 {'aid': 63299, 'ts': 1660347615375, 'type': 'clicks'},
 {'aid': 1813405, 'ts': 1660347698897, 'type': 'clicks'},
 {'aid': 1813405, 'ts': 1660347708319, 'type': 'carts'},
 {'aid': 140361, 'ts': 1660347738186, 'type': 'clicks'},
 {'aid': 1813405, 'ts': 1660348737117, 'type': 'clicks'},
 {'aid': 1813405, 'ts': 1660348787598, 'type': 'clicks'}]

In [8]:
n = 2

df_test = pd.DataFrame()
chunks = pd.read_json(path_test, lines=True, chunksize=chunksize)

for i, chunk in enumerate(chunks):
    if i < n:
        df_test = pd.concat([df_test, chunk])
    else:
        break

df_test = df_test.set_index("session", drop=True).sort_index()

In [9]:
df_test.head()

                                                     events
session
12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...

In [10]:
df_test.iloc[9,0]

[{'aid': 245131, 'ts': 1661724001619, 'type': 'clicks'},
 {'aid': 39846, 'ts': 1661724018620, 'type': 'clicks'},
 {'aid': 1259911, 'ts': 1661724034826, 'type': 'clicks'},
 {'aid': 1663048, 'ts': 1661724078816, 'type': 'clicks'}]

### å°†æ•°æ®ä¿å­˜ä¸ºParquetæ ¼å¼

In [11]:
def jsonl2parquet(path_inp, path_out):
    """
    å°†æ•°æ®é›†ç”±åŸå§‹æ ¼å¼è½¬ä½parquetæ ¼å¼
    
    Args:
        path_inp: str, åŸå§‹æ•°æ®é›†çš„å­˜æ”¾è·¯å¾„ï¼Œæ–‡ä»¶
        path_out: str, æ–°æ•°æ®é›†çš„å­˜æ”¾è·¯å¾„ï¼Œæ–‡ä»¶å¤¹

    Returns:
        
    """
    chunksize = 100_000
    
    reader = pd.read_json(path_inp, lines=True, chunksize=chunksize)
    os.makedirs(path_out, exist_ok=True)

    for i, chunk in enumerate(reader):
        event_dict = {
            'session': [],
            'aid': [],
            'ts': [],
            'type': [],
        }
        
        for session, events in zip(chunk['session'].values, chunk['events'].values):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        
        start = str(i*chunksize).zfill(9)
        end = str(i*chunksize + chunksize).zfill(9)
        df_event = pd.DataFrame(event_dict)
        df_event.to_parquet(os.path.join(path_out, '{}_{}.parquet'.format(start, end)))
    print('æ•°æ®é›†è½¬æ¢å®Œæˆï¼ï¼ï¼')

In [12]:
jsonl2parquet(path_train, path_parquet_train)
jsonl2parquet(path_test, path_parquet_test)

æ•°æ®é›†è½¬æ¢å®Œæˆï¼ï¼ï¼
æ•°æ®é›†è½¬æ¢å®Œæˆï¼ï¼ï¼

## è¯»å–parquetæ–‡ä»¶

In [13]:
files = sorted(glob(path_parquet_train))[:5]

df_list = []
for path in files:
    df_list.append(pd.read_parquet(path))

df_data = pd.concat(df_list).reset_index(drop=True)

In [14]:
df_data.head()

   session      aid             ts    type
0        0  1517085  1659304800025  clicks
1        0  1563459  1659304904511  clicks
2        0  1309446  1659367439426  clicks
3        0    16246  1659367719997  clicks
4        0  1781822  1659367871344  clicks

## æ–¹æ¡ˆè®¾è®¡

### æ€»ä½“æ–¹æ¡ˆè®¾è®¡
Ideaï¼š
+ [Recommendation Systems for Large Datasets](https://www.kaggle.com/competitions/otto-recommender-system/discussion/364721)ï¼šäºŒé˜¶æ®µæ–¹æ¡ˆçš„æå‡º
+ [Co-visitation Matrix](https://www.kaggle.com/code/vslaykovsky/co-visitation-matrix): å…±ç°çŸ©é˜µçš„æå‡ºåŠæœ€è¿‘è®¿é—®ç»“æœçš„æäº¤
+ [Item type vs multiple clicks vs latest items](https://www.kaggle.com/code/ingvarasgalinskas/item-type-vs-multiple-clicks-vs-latest-items)
+ [co-visitation matrix - simplified, imprvd logic ğŸ”¥](https://www.kaggle.com/code/radek1/co-visitation-matrix-simplified-imprvd-logic)

### Candidate ReRank Model using Handcrafted Rules
+ æ–¹æ¡ˆæ¥è‡ªï¼š[Candidate ReRank Model - [LB 0.573]](https://www.kaggle.com/code/cdeotte/candidate-rerank-model-lb-0-573/notebook)

è¯¥æ–¹æ¡ˆçš„å®æ–½é€šè¿‡äººå·¥è§„åˆ™

**Setp 1 äº§ç”Ÿå€™é€‰é›†**

å¯¹äºæ¯ä¸ªæµ‹è¯•ç”¨æˆ·ï¼ˆæ¯ä¸ªsessionï¼‰ï¼Œæˆ‘ä»¬é€šè¿‡ä»¥ä¸‹é€»è¾‘äº§ç”Ÿå€™é€‰è€…ï¼š
1. ç”¨æˆ·å†å²ç‚¹å‡»/æ”¶è—/è´­ä¹°è¿‡çš„å•†å“
2. è¯„ä¼°æ—¶é—´æ®µï¼Œæœ€å—æ¬¢è¿çš„20ä¸ªç‚¹å‡»/æ”¶è—/ä»˜æ¬¾çš„å•†å“
3. ç±»åˆ«åŠ æƒçš„ç‚¹å‡»/æ”¶è—/è´­ä¹°-æ”¶è—/è´­ä¹°å…±åŒè®¿é—®çŸ©é˜µ
4. æ”¶è—/è´­ä¹°-æ”¶è—/è´­ä¹°çš„å…±åŒè®¿é—®çŸ©é˜µ
5. æ—¶é—´åŠ æƒçš„ç‚¹å‡»/æ”¶è—/è´­ä¹°-ç‚¹å‡»çš„å…±åŒè®¿é—®çŸ©é˜µ

**Setp 2 é‡æ’åºä¸”é€‰å‡º20ä¸ªå•†å“**

å¯¹äºç»™å®šçš„å€™é€‰é›†åˆï¼Œæˆ‘ä»¬å¿…é¡»æŒ‘é€‰20ä¸ªå•†å“ä½œä¸ºæˆ‘ä»¬é¢„æµ‹çš„ç»“æœï¼Œåœ¨è¿™é‡Œæˆ‘ä»¬å®é™…æœºå™¨å­¦ä¹ çš„æ–¹å¼æ‰‹å·¥åšç‰¹å¾ï¼Œé€šè¿‡XGBoostæ¨¡å‹æ¥è¿›è¡Œé¢„æµ‹ã€‚ç‰¹å¾å·¥ç¨‹çš„é€»è¾‘ä¸ºï¼š
1. æœ€è¿‘è®¿é—®è¿‡çš„å•†å“
2. ä»¥å‰å¤šæ¬¡è®¿é—®è¿‡çš„å•†å“
3. ä»¥å‰æ”¶è—æˆ–è´­ä¹°è¿‡çš„å•†å“
4. æ”¶è—/è´­ä¹°-æ”¶è—/è´­ä¹°çš„å…±åŒè®¿é—®çŸ©é˜µ
5. å½“å‰çƒ­é—¨çš„å•†å“

![](./img/c_r_model.png)

#### Step 1 å…±åŒè®¿é—®çŸ©é˜µ

æˆ‘ä»¬æ„å»ºä¸‰ä¸ªå…±åŒè®¿é—®çŸ©é˜µ:
+ ä¸€ä¸ªåŸºäºç”¨æˆ·ä»¥å‰çš„ç‚¹å‡»/æ”¶è—/è´­ä¹°è®°å½•æ¥è®¡ç®—æ”¶è—/è´­ä¹°çš„å•†å“çƒ­åº¦ï¼Œå¯¹äºè¿™ä¸ªçŸ©é˜µæˆ‘ä»¬é‡‡ç”¨ç±»åˆ«åŠ æƒçš„æ–¹å¼æ„é€  
+ ä¸€ä¸ªåŸºäºç”¨æˆ·ä»¥å‰çš„æ”¶è—/è´­ä¹°è®°å½•æ¥è®¡ç®—æ”¶è—/è´­ä¹°çš„çƒ­åº¦ï¼Œ
+ ä¸€ä¸ªåŸºäºç”¨æˆ·ä»¥å‰çš„ç‚¹å‡»/æ”¶è—/è´­ä¹°è®°å½•æ¥è®¡ç®—ç‚¹å‡»çš„çƒ­åº¦ï¼Œå¯¹äºè¿™ä¸ªçŸ©é˜µæˆ‘ä»¬é‡‡ç”¨æ—¶é—´åŠ æƒçš„æ–¹å¼æ„é€