# 导包

In [1]:
# 将代码包路径导入python搜索路径, 导入一些必要模块
import os
import sys
# 该部分为python搜索路径，调用本地的代码包，若使用服务器环境，需注释掉该部分内容
package_path_2 = r'/Users/liliangshan/workspace/python/daily_code/tl_modeler'
sys.path.insert(0, package_path_2)

import tl_modeler as tlm

In [6]:
# path_project
path_project = r'/Users/liliangshan/workspace/python/01_datasets/AMEX_Default_Prediction'

# 文件夹
path_row_data = os.path.join(path_project, 'row_data')
path_new_data = os.path.join(path_project, 'new_data')
path_results = os.path.join(path_project, 'results')

# row_data
path_row_train = os.path.join(path_row_data,  'train_data.ftr')
path_row_test  = os.path.join(path_row_data, 'test_data.ftr')



## results
path_output_report = os.path.join(path_results, 'scorecard_report.xlsx')

y_label = 'target'

# 数据探查

In [3]:
df_train = tlm.read_data(path_row_train)
df_test  = tlm.read_data(path_row_test)

In [4]:
_ = tlm.excel_label(df_train, y=y_label, excel_path=path_output_report)

------------------------------------------------------------------------------------------
标签分布展示如下:

数据集样本有: 5531451个,特征列有:190列, 标签列为: target

   label取值  label数量 label占比
0        0  4153582  75.09%
1        1  1377869  24.91%

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,...,NaN,NaN,0.002426,0.003706,0.003819,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,...,NaN,NaN,0.003956,0.003166,0.005032,NaN,0.009575,0.005493,0.009216,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,...,NaN,NaN,0.003269,0.007328,0.000427,NaN,0.003429,0.006985,0.002604,0

------------------------------------------------------------------------------------------

In [ ]:
_ = tlm.excel_detect(df_train, excel_path=path_output_report)