# 导包

In [1]:
# 将代码包路径导入python搜索路径, 导入一些必要模块
import os
import sys
# 该部分为python搜索路径，调用本地的代码包，若使用服务器环境，需注释掉该部分内容
package_path_2 = r'/Users/liliangshan/workspace/python/daily_code/tl_modeler'
sys.path.insert(0, package_path_2)

import pandas as pd
import matplotlib.pyplot as plt

import tl_modeler as tlm

In [2]:
# path_project
path_project = r'/Users/liliangshan/workspace/python/01_datasets/AMEX_Default_Prediction'

# 文件夹
path_row_data = os.path.join(path_project, 'row_data')
path_new_data = os.path.join(path_project, 'new_data')
path_results = os.path.join(path_project, 'results')

# row_data
path_row_train = os.path.join(path_row_data,  'train_data.ftr')
path_row_test  = os.path.join(path_row_data, 'test_data.ftr')
path_train_label = os.path.join(path_row_data, 'train_labels.csv')



## results
path_output_report = os.path.join(path_results, 'scorecard_report.xlsx')

y_label = 'target'

# 数据探查

In [3]:
df_train = tlm.read_data(path_row_train)

In [3]:
df_labels = tlm.read_data(path_train_label)

df_train = tlm.read_data(path_row_train)
df_test  = tlm.read_data(path_row_test)

## 训练集标签

In [4]:
# 训练集标签缺失，重复情况
df_labels.isna().any().any(), df_labels['customer_ID'].duplicated().any()

(False, False)

In [5]:
_ = tlm.excel_label(df_labels, y=y_label, excel_path=path_output_report, show=True)

------------------------------------------------------------------------------------------
标签分布展示如下:

数据集样本有: 458913个,特征列有:1列, 标签列为: target

   label取值  label数量 label占比
0        0   340085  74.11%
1        1   118828  25.89%

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0

------------------------------------------------------------------------------------------

sheet01.标签分布分析在/Users/liliangshan/workspace/python/01_datasets/AMEX_Default_Prediction/results/scorecard_report.xlsx中已经存在，我们将对原文件进行覆盖

训练集标签中，customer_ID共458913个，正负样本比率为25.89%和74.11%

## 特征情况

In [ ]:
train_detect = tlm.excel_detect(df_train, excel_path=path_output_report, sheet_name='02.训练集-数据描述性统计',)
test_detect = tlm.excel_detect(df_test, excel_path=path_output_report, sheet_name='02.测试集-数据描述性统计',)

sheet02.训练集-数据描述性统计在/Users/liliangshan/workspace/python/01_datasets/AMEX_Default_Prediction/results/scorecard_report.xlsx中已经存在，我们将对原文件进行覆盖

In [ ]:
train_detect.head()

In [ ]:
test_detect.head()

1. 给到的训练集，测试集的数据为历史数据，无法直接用来建模
2. 训练集数据条数共5531451条，涵盖了458913个用户的历史数据，测试集数据条数共11363762条，涵盖了924621个用户的历史数据

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 5))
train_sc = df_train['customer_ID'].value_counts().value_counts().sort_index(ascending=False).rename('Train statements per customer')
ax1.pie(train_sc, labels=train_sc.index)
ax1.set_title(train_sc.name)
test_sc = df_test['customer_ID'].value_counts().value_counts().sort_index(ascending=False).rename('Test statements per customer')
ax2.pie(test_sc, labels=test_sc.index)
ax2.set_title(test_sc.name)
plt.show()

1. 在用户历史数据中，训练集测试集中的用户，绝大多数都有13次历史行为，

In [ ]:
df_train['S_2'].value_counts().sort_index(ascending=False)

In [ ]:
df_test['S_2'].value_counts().sort_index(ascending=False)

In [ ]:
temp = df_train['S_2'].groupby(df_train['customer_ID']).max()
plt.figure(figsize=(16, 4))
plt.hist(temp, bins=pd.date_range("2018-03-01", "2018-04-01", freq="d"),
         rwidth=0.8, color='#ffd700')
plt.title('When did the train customers get their last statements?', fontsize=20)
plt.xlabel('Last statement date per customer')
plt.ylabel('Count')
plt.gca().set_facecolor('#0057b8')
plt.show()
del temp

temp = df_test['S_2'].groupby(df_test['customer_ID']).max()
plt.figure(figsize=(16, 4))
plt.hist(temp, bins=pd.date_range("2019-04-01", "2019-11-01", freq="d"),
         rwidth=0.74, color='#ffd700')
plt.title('When did the test customers get their last statements?', fontsize=20)
plt.xlabel('Last statement date per customer')
plt.ylabel('Count')
plt.gca().set_facecolor('#0057b8')
plt.show()
del temp

1. 训练集中用户最新一次点击时间都聚集在一个月中，为201803-201804
2. 测试集中用户最新一次点击时间分为两个时间段，一个是201904-201905，一个是201910-201911

In [ ]:
temp = pd.concat([df_train[['customer_ID', 'S_2']], df_test[['customer_ID', 'S_2']]], axis=0)
temp.set_index('customer_ID', inplace=True)
temp['last_month'] = temp.groupby('customer_ID').S_2.max().dt.month
last_month = temp['last_month'].values

plt.figure(figsize=(16, 4))
plt.hist([temp.S_2[temp.last_month == 3],   # ending 03/18 -> training
          temp.S_2[temp.last_month == 4],   # ending 04/19 -> public lb
          temp.S_2[temp.last_month == 10]], # ending 10/19 -> private lb
         bins=pd.date_range("2017-03-01", "2019-11-01", freq="MS"),
         label=['Training', 'Public leaderboard', 'Private leaderboard'],
         stacked=True)
plt.xticks(pd.date_range("2017-03-01", "2019-11-01", freq="QS"))
plt.xlabel('Statement date')
plt.ylabel('Count')
plt.title('The three datasets over time', fontsize=20)
plt.legend()
plt.show()

## 数据准备

In [4]:
df_train = df_train.groupby("customer_ID").tail(1).reset_index(drop=True)
#df_test = df_test.groupby("customer_ID").tail(1).reset_index(drop=True)

In [5]:
df_train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.934570,0.009117,0.009384,1.007812,0.006104,0.135010,0.001604,0.007175,...,NaN,NaN,0.007187,0.004234,0.005085,NaN,0.005810,0.002970,0.008530,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.880371,0.178101,0.034698,1.003906,0.006912,0.165527,0.005550,0.005070,...,NaN,NaN,0.002981,0.007481,0.007874,NaN,0.003284,0.003170,0.008514,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.880859,0.009705,0.004284,0.812500,0.006451,NaN,0.003796,0.007195,...,NaN,NaN,0.007381,0.006622,0.000965,NaN,0.002201,0.000834,0.003445,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,0.621582,0.001082,0.012566,1.005859,0.007828,0.287842,0.004532,0.009941,...,NaN,NaN,0.002705,0.006184,0.001899,NaN,0.008186,0.005558,0.002983,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.872070,0.005573,0.007679,0.815918,0.001247,NaN,0.000231,0.005527,...,NaN,NaN,0.002974,0.004162,0.005764,NaN,0.008156,0.006943,0.000905,0

## 数据预处理

In [6]:
trans_train, filter_cols, missing_cols, single_list, mutitype_list, varaince_list = tlm.feature_filter(df_train, y_label)

In [7]:
missing_threshold=0.9
single_threshold=0.9  
variance_threshold=0
unique_threshold=40    
feat_ = '字段名'

analysis = pd.DataFrame(data={'字段名': df_train.columns.tolist()})

analysis['缺失率过滤'] = analysis[feat_].map(lambda x: '02.缺失率>={},被移除'.format(missing_threshold) if x in missing_cols else '')
analysis['单一值、百分比过高特征过滤'] = analysis[feat_].map(lambda x: '03.单一值、百分比>={},被移除'.format(single_threshold) if x in single_list else '')
analysis['类别过多特征过滤'] = analysis[feat_].map(lambda x: '04.类别取值个数>={},被移除'.format(unique_threshold) if x in mutitype_list else '')
analysis['方差过小过滤'] = analysis[feat_].map(lambda x: '05.方差<={},被移除'.format(variance_threshold) if x in varaince_list else '')

title = "数据预过滤"
tlm.dat2excel(analysis, title, sheet_name='06.数据预处理', excel_path=path_output_report)

sheet06.数据预处理在/Users/liliangshan/workspace/python/01_datasets/AMEX_Default_Prediction/results/scorecard_report.xlsx中已经存在，我们将对原文件进行覆盖

## 分箱及分箱调整

In [8]:
import scorecardpy as sc

In [10]:
# bins = sc.woebin(trans_train, y=y_label)

In [11]:
bins = tlm.woebin(trans_train, y=y_label)

There are blank strings in 1 columns, which are replaced with NaN.
 (ColumnNames: D_64)

ValueError: Cannot setitem on a Categorical with a new category, set the categories first

In [ ]:
# 调单调变量
bins, res_monotone_list, res_un_monotone_list= woebin_monotone_adj(trans_train, y=y_label, bins, list(bins.keys()))